@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Tilt+Neon&display=swap');

body{
    font-family: Arial, sans-serif;
    background-color: #1a2c75;
    font-size: 1rem;
}

#titulo{
    color: #FFFFFF;
    background-color: #740645;
    text-align: center;
    font-size: 3rem;
    letter-spacing: 0.5rem;
}

.titulo-post{
    color: 	#ed2788;
    font-size: 1.5rem;
}

p{
    color:#ed2788;
}

h3{
    color:#ed2788;
}

.autor {
    background-color: #0f479f;
    text-align: right;
    font-style: italic;
    font-size: 0.8rem;
}

.separador {
    text-align: center;
    color: 	#ed2788;
    font-size: 18px;
}

pre{
    color: #ed2788;
}

.tiltneon{
    font-family: "Poppins", sans-serif;
    line-height: 1.5;
    text-align: justify;
}

.p1-normal{
    font-family: 'Times New Roman', Times, serif;
}

.p1{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700; 
}

.p2{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 900; 
}

.p3-normal{
   font-family: "Comic Sans MS", "Comic Sans", cursive;
   font-style: normal;
}

.p3{
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    font-style: oblique 10;
}

.p4{
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    font-style: oblique 20;
}

.img-teste {
width: 300px;
}

ol {
    color: #e5e7eb;
    list-style-position: inside;
    max-width: 400px;
    margin: auto;
}

li {
    background: #374151;
    border-radius: 12px;
    padding: 14px 18px;
    margin: 12px 0;
    transition: 0.2s;
    list-style-type: decimal; 
}

li:hover {
    transform: translateX(6px);
    background: #4b5563;
    cursor: pointer;
}

li:first-child::before {
    content: "🏆 ";
}

.post-tv-girl li:first-child::before {
    content: none; 
}

.post-tv-girl .card-album {
    background-color: #740645;
    list-style-type: none; 
}

.post-tv-girl .card-album:hover {
    background-color: #ed2788; 
}

.album-item {
    font-weight: bold;
    color: #0f479f; 
    display: block;
}

.lista-musicas {
    list-style-type: none; 
    padding-left: 20px;
    margin-top: 10px;
    font-weight: normal;
}

.lista-musicas li {
    background: transparent; 
    margin: 5px 0;
    padding: 5px;
    color: #0f479f;
}

.ouvido {
    text-decoration: line-through;
    opacity: 0.5;
}


.lista-musicas li::before {
    content: "🎵 ";
}