body{
font-family:Arial;
background:linear-gradient(gray, white);
color:black;
text-align:center;
}

h1{
background:black;
color:white;
padding:20px;
}

h2{
color:gray;
}

.autor{
color:darkgray;
}

.separador{
color:black;
font-size:22px;
}